doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Language' content='ru')
		meta(charset='utf-8')
		title Online Dictionary
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/siteStyle1.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
		script(src='scripts/Menu.js')
		script(src='scripts/jqScript.js')
		script(src='scripts/formatScript.js')
		style.
	head
	body
		.jumbotron.text-center.jombtext
			img(src="images/logo.jpg", alt="Логотип онлайн-словаря" style="width:50%; display: block; margin: 0 auto;" class="center")
		.container-fluid.contStyle
			.row
				.col-xs-12(style='background-color:#076177;')
					nav.navbar.navstyle
						ul
							li
								a.active(href='/Russian' tabindex='2' aria-label="Главная Онлайн словарь Страница") Онлайн словарь

							
		#bodincrease.container.contmax
			.row.toprow
				.col-md-12
					.btn-group.btn-group-lg.langbtncont
						a.button.btn.btnstyle.rusbtn(type='button', tabindex='3'  href='/Russian' aria-label="Сменить язык на русский" style='background-color:#66110d; color:white; text-decoration: underline;') русский
						a.button.btn.btnstyle.enbtn(type='button', tabindex='4' href='/English' aria-label="Сменить язык на английский" ) English
				.col-md-12
					form.searchform(action='searchRus', method='POST')
						input#nospace.submittext(type='text', name='oxford', placeholder='Enter Word', tabindex='5' aria-label="Напишите слово для отправки")
						input#inputbtn.btn.btn-lg.searchbutton(type='submit', tabindex='6' aria-label="Отправить слово" )
			.row.dicrow
				#Yanbod.col-sm-12.col-md-12.col-lg-6.vcolspace
					.colstyle.clearfix
						div.titlespace
							h3.pull-left(tabindex='7') Yandex Dictionary
							button.btn.btn-sm.copybtn.pull-left(onclick="copyToClipboard('#yancol')", tabindex='8' aria-label="Копировать текстовый словарь Яндекса" class="fas fa-copy" style='font-size: 18px;')
							button.btn.btn-sm.copybtn.pull-left(onclick="increaseFontSize('yancol',5)", tabindex='8' aria-label="Увеличить размер текста в Яндексе" class="fas fa-plus" style='font-size: 18px;')
							button.btn.btn-sm.copybtn.pull-left(onclick="increaseFontSize('yancol',-5)", tabindex='9' aria-label="уменьшить размер текста в яндексе" class="fas fa-minus" style='font-size: 18px;')
							.h4 !{yandextitle}				
						#yancol.p !{yantxt}
				#Lexbod.col-sm-12.col-md-12.col-lg-6.vcolspace
					.colstyle.clearfix
						div.titlespace
							h3.pull-left(tabindex='10') Lexicala Dictionary
							button.btn.btn-sm.copybtn.pull-left(onclick="copyToClipboard('#lexcol')", tabindex='11' aria-label="Копировать текст словаря Lexicala" class="fas fa-copy" style='font-size: 18px;')
							button.btn.btn-sm.copybtn.pull-left(onclick="increaseFontSize('lexcol',5)", tabindex='12' aria-label="Увеличить размер текста в Lexicala" class="fas fa-plus" style='font-size: 18px;')
							button.btn.btn-sm.copybtn.pull-left(onclick="increaseFontSize('lexcol',-5)", tabindex='13' aria-label="уменьшить размер текста в Text Lexicala" class="fas fa-minus" style='font-size: 18px;')
							
						p.titlespace
							.h4 !{lextitle}	
						#lexcol.p !{lextxt}
		footer.text-center.footer
			p.copyrights All Rights Reserved 2019
			p.POWERED BY: OXFORD DICTIONARY, YANDEX DICTIONARY, LEXICALA DICTIONARY.