doctype html
html(lang='en')
	head
		title Online Dictionary
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/siteStyle1.css')
		link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
		script(src='scripts/Menu.js')
		script(src='scripts/jqScript.js')
		script(src='scripts/formatScript.js')
		style.
	head
	body
		.jumbotron.text-center.jombtext
			h1(tabindex='1') Online Dictionary
		.container-fluid.contStyle
			.row
				.col-xs-12
					nav.navbar.navstyle
						ul
							li
								a.active(href='#home' tabindex='2' aria-label="Main Online dictionay Page") Online Dictionary
							li
								a(href='#news' tabindex='3') About us
							li
								a(href='#' tabindex='4', onclick="increaseFontSize('bodincrease',5)") +
							li
								a(href='#' tabindex='5', onclick="increaseFontSize('bodincrease',-5)") -
							
		#bodincrease.container.contmax
			.row.toprow
				.col-md-12
					.btn-group.btn-group-lg.langbtncont
						a.button.btn.btnstyle.rusbtn(type='button', tabindex='6'  href='/Russian') Russian
						a.button.btn.btnstyle(type='button', tabindex='7' href='/English') English
				.col-md-12
					form.searchform(action='searchEn', method='POST')
						input#nospace.submittext(type='text', name='oxford', placeholder='Enter Word', tabindex='8' aria-label="Write word to submit")  
						input.btn.btn-lg.searchbutton(type='submit', tabindex='9' aria-label="Submit Word")
			.row.dicrow
				#Oxbod.col-sm-12.col-md-12.col-lg-4.vcolspace
					.colstyle.clearfix
						div.titlespace
							h3.pull-left(tabindex='10') Oxford Dictionary
							button.btn.btn-sm.copybtn.pull-left(onclick="copyToClipboard('#OxDic')", tabindex='11' class="fas fa-copy" style='font-size: 20px;' aria-label="Copy Oxford Dictionary Text") 
						p !{idword}
				#Yanbod.col-sm-12.col-md-12.col-lg-4.vcolspace
					.colstyle.clearfix
						div.titlespace
							h3.pull-left(tabindex='12') Yandex Dictionary
							button.btn.btn-sm.copybtn.pull-left(onclick="copyToClipboard('#YanDic')", tabindex='13' aria-label="Copy Yandex Dictionary Text" class="fas fa-copy" style='font-size: 20px;')
						p !{yantrans}
				#Lexbod.col-sm-12.col-md-12.col-lg-4.vcolspace
					.colstyle.clearfix
						div.titlespace
							h3.pull-left(tabindex='14') Lexicala Dictionary
							button.btn.btn-sm.copybtn.pull-left(onclick="copyToClipboard('#LexDic')", tabindex='15' aria-label="Copy Yandex Dictionary Text" class="fas fa-copy" style='font-size: 20px;')
							p !{idword1}
		footer.text-center.footer(tabindex='16')
			p.copyrights All Rights Reserved 2019