
body{
font-family:'Century Gothic';
}

.navstyle {
	    background-color: #076177;
    border: 0;
    max-width: 1200px;
    min-height: 0;
    margin: 0 auto;
	padding:0 30px;
}


.navstyle ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #076177;
  border-color: #076177;
  border:none;
  max-width:1024px;
}

.navstyle li {
  float: left;
    border:0;
}

.navstyle  li a {
	  
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:21px;
  border-bottom:2px solid transparent;
  border-right:2px solid white;
}

.navstyle li a:hover{
 background-color: #083a47;
  text-decoration:none;
  border-bottom-color:#bb615e;
  color:#fff;
 
}
.navstyle li a:focus{
  background-color: #083a47;
   text-decoration:none;
   border-bottom-color:#bb615e;
   color:#fff;
  
 }
	
.navstyle li a.active{
	background-color: #083a47;
  border-bottom-color:#bb615e;
  text-decoration:underline;
  color:#fff;
}


/* .navstyle li a.active:hover { */
	/* border-bottom-color:#e2e1e1; */
/* } */

.btn {
	border-radius:0px!important;
}

.btn-group .btnstyle {
	
	color:white; 
	height:65px;
	font-size:25px;
	background-color:#495054; 
	width:47%;
	padding-top:20px;
	-webkit-transition: background-color 0.3s linear;
		-ms-transition: background-color 0.3s linear;
		transition: background-color 0.3s linear;
	
}
.btn-group .btnstyle:hover {
	background-color:#66110d; 
	color:white;
	text-decoration: underline;
 
	
}
.btn-group .btnstyle:focus {
	background-color:#66110d; 
	color:white;
	text-decoration: underline;
 
	
}

.rusbtn {
	margin-right : 6% !important;
}
.enbtn {
  background-color:#66110d; 
	color:white;
	text-decoration: underline;
}

.searchbutton{
	height:100%; width:30%; color: white;
  padding: 32px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
   position: relative;
   margin: 0;
  font-size: 33px;
  cursor: pointer;
  float: right;
  background-color:#a3221b;
  -webkit-transition: background-color 0.3s linear;
		-ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    
}
.searchbutton:hover{
	background-color:#66110d;
  color: white;
  text-decoration: underline;
		
}
.searchbutton:focus{
	background-color:#66110d;
  color: white;
  text-decoration: underline;
		
}

.submittext {
	padding: 0px; 
	width:69%; 
	height:100%; 
	float:left; 
	display: inline-block; 
	font-size:40px; 
	border:0; 
	border-bottom: 2px solid #457B9D; 
}
.submittext:focus{
border-color: #66110d;
}


.copybtn{
		background-color: transparent;
		
		-webkit-transition: background-color 0.3s linear;
		-ms-transition: background-color 0.3s linear;
		transition: background-color 0.3s linear;
		margin-top:20px;

    margin-bottom:20px;		
}

.copybtn:hover{
	color:#66110d;
}
.copybtn:focus{
	color:#66110d;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}



.sizebtn {
  width:50%;
}


.jombtext {
  margin-bottom:10px; background-color:white; color:#66110d;
 
}


.dicrow{
  padding:0px;
  display: flex;
  
}
.searchform{
	height:97px; width:100%; float:right;
}

.contmax{
	max-width:1200px;
}

.langbtncont{
	width: 100%; margin-bottom:50px; 
}

.toprow{
	margin-top:50px; margin-bottom:50px;
}
.contStyle {
	background-color:#034a75;
	border:0;
	margin-bottom:0;
}

.colstyle {
  background-color: #f7f7f7;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
   height: 100%;
   border: 2px solid #076177;
}

.defbox {
  border-bottom: 1px solid #083a47;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-top:5px;
  padding:2px;
  padding-bottom: 5px;

}
.defbox:focus, .defbox:hover {
  border-bottom: 1px solid #083a47;
  border-top: 1px solid #083a47;
  border-right: 1px solid #083a47;
  border-left: 1px solid #083a47;
  margin-top:5px;
 
  padding-bottom: 5px;

}

.defbox:last-child {
  border-bottom: 1px solid transparent;
}

.defbox:last-child:hover {
  border-bottom: 1px solid #083a47;
}

.footer{
	    background-color: #efefef;
    color: #032940;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 5px;
}

.copyrights{
	margin:0;
}

/*changig the placegolder color*/
.submittext::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #cecdcd
    }

    .submittext:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #cecdcd;
       opacity: 1;
    }

    .submittext::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #cecdcd;
        opacity: 1;
    }

    .submittext:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #cecdcd;
    }

.vcolspace{
 
  
}

.titlespace {
  display:inline-block;
}


@media only screen and (max-width: 1200px){
	.vcolspace{
		margin-top:15px;
		margin-bottom:15px;
	}
	
}
@media only screen and (max-width: 1200px){
	.vcolspace{
   
    width: 100%;
  }

  .dicrow{
    display: block;
  }
	
}

@media only screen and (max-width: 768px){
  .searchbutton{
    width:100%;
    margin-bottom:20px;
  }

  .submittext{
    width:100%;
    margin-bottom:10px;

  }
  .colstyle{
    margin-top:70px;
  }
}
/* @media only screen and (min-width */